### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [280]:
# Dependencies and Setup
import pandas as pd
import os 

# File to Load (Remember to Change These)
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [337]:
#Determing data types
school_data_complete = school_data_complete.sort_values("school_name",ascending = True)

In [340]:
#Finding total number of schools
total_school_list = school_data_complete["school_name"].nunique()
total_school_list

15

In [302]:
#Finding total number of students
total_students = len(school_data_complete.index)
total_students

39170

In [303]:
#Calculating total budget
total_budget = school_data_complete.iloc[:,10].unique().sum()
total_budget

24649428

In [304]:
#Calculating average math score
math_score = school_data_complete["math_score"].sum()
average_math_score = math_score / total_students
average_math_score

78.98537145774827

In [305]:
#Calculating average reading score
reading_score = school_data_complete["reading_score"].sum()
average_reading_score = reading_score / total_students
average_reading_score

81.87784018381414

In [306]:
#Calculating average passing rate for math (>70)
math_passing_count = school_data_complete["math_score"][school_data_complete["math_score"]>=70].count()
math_passing_rate = (math_passing_count / total_students) * 100
math_passing_rate

74.9808526933878

In [307]:
#Calculating average passing rate for reading (>=70)
reading_passing_count = school_data_complete["reading_score"][school_data_complete["reading_score"]>=70].count()
reading_passing_rate = (reading_passing_count / total_students) *100
reading_passing_rate

85.80546336482001

In [308]:
#Calculating overall passing rate
overall_passing_rate = (reading_passing_rate + math_passing_rate) / 2
overall_passing_rate

80.39315802910392

In [341]:
#Creating a district summary DataFrame
District_summary = pd.DataFrame({"Total Schools":[total_school_list], 
                                "Total Students":total_students,
                                "Total Budget":total_budget,
                                "Average Math Score":average_math_score, 
                                "Average Reading Score":average_reading_score,
                                "Math Passing Rate":math_passing_rate,
                                "Reading Passing Rate":reading_passing_rate,
                                "Overall Passing Rate":overall_passing_rate})

District_summary["Total Budget"] = District_summary["Total Budget"].map("${:,}".format)
District_summary["Total Students"] = District_summary["Total Students"].map("{:,}".format)
District_summary["Average Math Score"] = District_summary["Average Math Score"].map("{:.2f}".format)
District_summary["Average Reading Score"] = District_summary["Average Reading Score"].map("{:.2f}".format)
District_summary["Math Passing Rate"] = District_summary["Math Passing Rate"].map("{:.2f}".format)
District_summary["Reading Passing Rate"] = District_summary["Reading Passing Rate"].map("{:.2f}".format)
District_summary["Overall Passing Rate"] = District_summary["Overall Passing Rate"].map("{:.2f}".format)

District_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
0,15,"39,170","$24,649,428",78.99,81.88,74.98,85.81,80.39

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [342]:
#Calculating School Budgets
school_budget = school_data_complete["budget"].unique()
# school_budget

In [343]:
#Grouping the og dataframe by the school name
group_by_school_name = school_data_complete.groupby("school_name")
# group_by_school_name

In [344]:
#Finding students per school
students_at_school = group_by_school_name["Student ID"].count()
# students_at_school

In [345]:
#Finding average math school per school
average_math_score_by_school = group_by_school_name["math_score"].mean()
# average_math_score_by_school

In [361]:
math_passing_count_by_school = group_by_school_name["math_score"]>=70
math_passing_rate_by_school = (math_passing_count_by_school / students_at_school) * 100

TypeError: '>=' not supported between instances of 'SeriesGroupBy' and 'int'

In [358]:
#Finding average reading school per school
average_reading_score_by_school = group_by_school_name["reading_score"].mean()
#average_reading_score_by_school

In [348]:
#Calculating budget per student
budget_per_student = school_budget / students_at_school

In [349]:
School_Summary_df = pd.DataFrame({"Budget":school_budget,"Students":students_at_school, "Budget Per Student": budget_per_student,"Average Math Score":average_math_score_by_school,"Average Reading Score":average_reading_score_by_school})

School_Summary_df["Budget"] = School_Summary_df["Budget"].map("${:,.2f}".format)
School_Summary_df["Students"] = School_Summary_df["Students"].map("{:,}".format)
School_Summary_df["Budget Per Student"] = School_Summary_df["Budget Per Student"].map("${:,.2f}".format)
School_Summary_df["Average Math Score"] = School_Summary_df["Average Math Score"].map("{:.2f}".format)
School_Summary_df["Average Reading Score"] = School_Summary_df["Average Reading Score"].map("{:.2f}".format)


School_Summary_df.reset_index()

,school_name,Budget,Students,Budget Per Student,Average Math Score,Average Reading Score
0,Bailey High School,"$3,124,928.00","4,976",$628.00,77.05,81.03
1,Cabrera High School,"$1,081,356.00","1,858",$582.00,83.06,83.98
2,Figueroa High School,"$1,884,411.00","2,949",$639.00,76.71,81.16
3,Ford High School,"$1,763,916.00","2,739",$644.00,77.10,80.75
4,Griffin High School,"$917,500.00","1,468",$625.00,83.35,83.82
5,Hernandez High School,"$3,022,020.00","4,635",$652.00,77.29,80.93
6,Holden High School,"$248,087.00",427,$581.00,83.80,83.81
7,Huang High School,"$1,910,635.00","2,917",$655.00,76.63,81.18
8,Johnson High School,"$3,094,650.00","4,761",$650.00,77.07,80.97
9,Pena High School,"$585,858.00",962,$609.00,83.84,84.04
10,Rodriguez High School,"$2,547,363.00","3,999",$637.00,76.84,80.74
11,Shelton High School,"$1,056,600.00","1,761",$600.00,83.36,83.73
12,Thomas High School,"$1,043,130.00","1,635",$638.00,83.42,83.85
13,Wilson High School,"$1,319,574.00","2,283",$578.00,83.27,83.99
14,Wright High School,"$1,049,400.00","1,800",$583.00,83.68,83.95

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.